# Analysis of IOT equipment life-cycle

In [1]:
import pandas as pd

In this section we will analyse the consequences of the environmental footprint
of the lifecycle of typical IOT equipment. We will use the devices listed below, where *Power draw* is in Watts, *Power use* is in kWh/year, *Use emissions* is in kgCO{sub}`2`e/year, *Manufacturing emissions* is in kgCO{sub}`2`e, and *Lifespan* is in years.

In [2]:
fd = pd.read_csv("fictional-devices.csv", index_col="Name")
fd

,Power draw,Power use,Use emissions,Manufacturing emissions,Lifespan
Name,,,,,
Sensor 1,1.0,8.76,4.21356,10,10
Sensor 2,0.5,4.38,2.10678,20,10
Disposal,0.0,0.00,0.00000,3,1
Camera 1,10.0,87.60,42.13560,20,4
Camera 2,7.0,61.32,29.49492,30,5

From these devices we will make the following combinations:

In [3]:
fe = pd.read_csv("fictional-examples.csv")
fe

            Name Old device New device
0        S1 - S2   Sensor 1   Sensor 2
1  S1 - Disposal   Sensor 1   Disposal
2        C1 - C2   Camera 1   Camera 2

On these we compute the break-even point in years, and in % of the life-span of the old device:

In [6]:
w_old = fe.join(fd[["Use emissions", "Lifespan"]], on="Old device", rsuffix=" old")
w_new = w_old.join(fd[["Use emissions", "Manufacturing emissions"]], on="New device", rsuffix=" new")
complete = w_new
complete["Break-even years"] = complete["Manufacturing emissions"] / (complete["Use emissions"] - complete["Use emissions new"])
complete["Break-even % lifespan"] = complete["Break-even years"]/complete["Lifespan"]
complete[["Old device", "New device", "Break-even years", "Break-even % lifespan"]]

  Old device New device  Break-even  Break-even % lifespan
0   Sensor 1   Sensor 2    9.493160               0.949316
1   Sensor 1   Disposal    0.711987               0.071199
2   Camera 1   Camera 2    2.373290               0.593323